name: CI
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '16.x'
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: mvn package
      env:
        _JAVA_OPTIONS: -Djava.net.preferIPv4Stack=true
      run: |
        set -e
        BOOT_VERSION=$(grep '<version>' pom.xml | head -n 1 | sed -e 's|<version>||g' -e 's|</version>||g' -e 's|<.*>||g' | xargs echo)
        ./mvnw -V package -Dspring-boot.version=${BOOT_VERSION}
    - name: mvn deploy
      if: github.ref == 'refs/heads/main'
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      run: |
        set -e
        BOOT_VERSION=$(grep '<version>' pom.xml | head -n 1 | sed -e 's|<version>||g' -e 's|</version>||g' -e 's|<.*>||g' | xargs echo)
        cat > settings.xml <<EOF
        <settings>
          <servers>
            <server>
               <id>sonatype-snapshots</id>
               <username>${SONATYPE_USERNAME}</username>
               <password>${SONATYPE_PASSWORD}</password>
            </server>
          </servers>
        </settings>
        EOF
        sed -i 's|</project>|<distributionManagement><repository><id>sonatype-snapshots</id><name>sonatype-snapshots</name><url>https://oss.sonatype.org/content/repositories/snapshots</url></repository></distributionManagement></project>|' pom.xml
        ./mvnw -V deploy -s settings.xml -Dmaven.test.skip=true -Dspring-boot.version=${BOOT_VERSION}
    - name: download-kp-cli
      env:
        KP_VERSION: 0.2.0
      run: |
        set -e
        wget -q https://github.com/vmware-tanzu/kpack-cli/releases/download/v${KP_VERSION}/kp-linux-${KP_VERSION} -O kp
        chmod +x ./kp
    - name: kubeconfig
      uses: azure/k8s-set-context@v1
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KPACK_KUBECONFIG }}
    - name: build-image
      env:
        APP_NAME: blog-translation
        GOOGLE_APPLICATION_CREDENTIALS_JSON: ${{ secrets.KPACK_GOOGLE_APPLICATION_CREDENTIALS }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
      run: |
        set -e
        docker login ${DOCKER_REGISTRY} -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}
        VERSION=$(grep '<version>' pom.xml | head -n 2 | tail -n 1 | sed -e 's|<version>||g' -e 's|</version>||g' | xargs echo)
        IMAGE_NAME=${DOCKER_REGISTRY}:${VERSION}        
        echo ${GOOGLE_APPLICATION_CREDENTIALS_JSON} | base64 -d > key.json
        export GOOGLE_APPLICATION_CREDENTIALS=$PWD/key.json
        set +e
        ./kp image list -n categolj | grep "${APP_NAME} "
        exists=$?
        set -e
        if [ ${exists} -eq 0 ]; then
          ./kp image patch ${APP_NAME} \
             -n categolj \
             --wait \
             --local-path target/*.jar
        else
          ./kp image create ${APP_NAME} \
             -n categolj \
             --tag ${IMAGE_NAME} \
             --wait \
             --local-path target/*.jar
        fi
        ./kp image list -n categolj     
    - name: generate-config
      if: github.ref == 'refs/heads/deprecated'    
      env:
        DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
      run: |
        set -e
        VERSION=$(grep '<version>' pom.xml | head -n 2 | tail -n 1 | sed -e 's|<version>||g' -e 's|</version>||g' | xargs echo)
        IMAGE_NAME=${DOCKER_REGISTRY}:${VERSION}
        docker pull ${IMAGE_NAME}
        cat <<EOF > values.yml
        #@data/values
        #@overlay/match-child-defaults missing_ok=True
        ---
        git_repo: https://github.com/categolj/blog-translation
        git_commit: $(git rev-parse HEAD)
        image_name: ${IMAGE_NAME}
        image_digest: $(docker inspect --format='{{index .RepoDigests 0}}' ${IMAGE_NAME} | awk -F '@' '{print $2}')
        EOF
        cat values.yml
    - name: update config
      if: github.ref == 'refs/heads/deprecated'
      env:
        REPOSITORY: making/config
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        GIT_NAME: ${{ secrets.GIT_NAME }}
        GIT_SSH_KEY: ${{ secrets.GIT_SSH_KEY }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE: master
        APP_NAME: blog-translation
      run: |
        set -ex
        GIT_REV=$(git rev-parse HEAD)
        COMMIT_MESSAGE="Bump to categolj/${APP_NAME}@${GIT_REV}"
        mkdir -p ~/.ssh
        cat > ~/.ssh/config <<EOF
        StrictHostKeyChecking no
        LogLevel quiet
        EOF
        cat > ~/.ssh/id_rsa <<EOF
        ${GIT_SSH_KEY}
        EOF
        chmod 0600 ~/.ssh/*
        git config --global user.email "${GIT_EMAIL}"
        git config --global user.name "${GIT_NAME}"
        git clone git@github.com:${REPOSITORY}.git
        cd $(echo ${REPOSITORY} | awk -F '/' '{print $2}')
        cp ../values.yml home-lab/grape/app/${APP_NAME}/values.yml
        git diff
        git add -A
        git commit -m "${COMMIT_MESSAGE}"
        git push origin ${BASE}
